[Unit]
Description=OpenVAS launcher
After=network.target redis.service

[Service]
Type=forking
User=root
Group=root
ExecStart=/usr/local/sbin/openvas_launcher --start
ExecStop=/usr/local/sbin/openvas_launcher --stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
